.main-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.main__item--creaticket{
    height: 70px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:220px;
    left: 300px;
}


.main__item__card{
    position: absolute;
    top:320px;
    left: 291px;

}

.main__item--cardTicket{
    width: 330px;
}


.CardFecha{
    width: 360px;
    height: 50px;
    position: absolute;
    top: 130px; /* Distancia desde la parte superior */
    left: 880px; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main__item--primari{
    width: 400px;
    position: absolute;
    top: 250px; /* Distancia desde la parte superior */
    left: 280px; /* Distancia desde la izquierda */
    
}



.main__item--secundari{
    width: 400px;

    position: absolute;
    top: 480px; /* Distancia desde la parte superior */
    left: 291px; /* Distancia desde la izquierda */
}

.main__item--active{

    position: absolute;
    top: 260px; /* Distancia desde la parte superior */
    left: 1100px; /* Distancia desde la izquierda */

}





@media (max-width: 600px) {
    
    .main__item--primari{
        width: 300px;

        position: absolute;
        top: 150px; /* Distancia desde la parte superior */
        left: 30px; /* Distancia desde la izquierda */
        
    }


    .Fecha{
        width: 320px;
        position: relative;
        position: absolute;
        top: 90px; /* Distancia desde la parte superior */
        left: 35px; /
    }
    
    .main__item--secundari{
        width: 300px;

        position: absolute;
        top: 350px; /* Distancia desde la parte superior */
        left: 45px; /* Distancia desde la izquierda */
    }

    .card{
        width: 300px;
    }

    
    .main__item--active{

        position: absolute;
        top: 480px; /* Distancia desde la parte superior */
        left: 0px; /* Distancia desde la izquierda */
        right: 30;
    
    }
  }
  

