.main-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.main__item{
    margin: 40px;
    
}


.main__item--active{
    align-self: flex-end;


}



